body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  padding:20px;
  margin:0px;
  
}

/* Header CSS */
.titleBar{
  display: flex;
  justify-content: space-evenly; 
}

#title{
  color:rgb(10, 100, 188); 
  font-family:'Oswald', sans-serif;
  font-size: 7rem; 
}

#detailItem{
  display: none;
   padding:1rem; 
   width:40rem;
   height:10rem;
 }

/* Main section Search */
.search-field {
  border: none; 
  border-radius: 5px;
  padding: 5px;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Urbanist', sans-serif;

}
.search-field:hover {
  outline: none;
  /* border: none; */
  
}
.search-box {
  box-sizing: border-box;
  border: 1.2px solid rgb(3, 118, 211);
  width: 280px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.search-button {
  padding: 10px 50px;
  border-radius: 5px;
  margin-left: 20px;
}

/* Main Section Product */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  grid-gap:5px;
}

.cart {
  width: 300px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  font-family: 'Urbanist', sans-serif;
}
.cart-main {
  padding-right: 30px;
}

    /* Class mentioned in JS File*/
.single-product {
  padding: 10px;
  transition: 0.8s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 2px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Urbanist', sans-serif;
  height:550px;  
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
    /* Class mentioned in JS File */


/* Main Section Button */
#btn button{
  color:	#ff0000; 
}
    /* Class mentioned in JS File */
#ratingGrid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  color:#FF9529; 
}

#ratingBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.buy-now{
  background-color:  #ed3330;
  color: #fff; 
}
.ratingText{
  font-weight: 600;
}
    /* Class mentioned in JS File */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
